.r_565x316,
.r_565x316 .item{
    width: 609px;
    height: 360px;
}

.r_565x316 .focus,
.r_565x316 .focus img{
    width: 609px;
    height: 360px;
}

.r_565x316 .pic,
.r_565x316 .pic img{
    width: 565px;
    height: 316px;
}

.r_565x316 .pic{
    left: 22px;
    top: 22px;
}

.r_565x316 .txt{
    width: 565px;
    height: 35px;
    left: 22px;
    top: 303px;
    color: red;
    font-size: 24px;
    text-align: center;
    background: gray;
    overflow: hidden;
    /*white-space: nowrap;*/
    line-height: 35px;
}

.r_271x316,
.r_271x316 .item{
    width: 315px;
    height: 360px;
}

.r_271x316 .focus,
.r_271x316 .focus img{
    width: 315px;
    height: 360px;
}

.r_271x316 .pic,
.r_271x316 .pic img{
    width: 271px;
    height: 316px;
}

.r_271x316 .pic{
    left: 22px;
    top: 22px;
}

.r_271x152,
.r_271x152 .item{
    width: 315px;
    height: 196px;
}

.r_271x152 .focus,
.r_271x152 .focus img{
    width: 315px;
    height: 196px;
}

.r_271x152 .pic,
.r_271x152 .pic img{
    width: 271px;
    height: 152px;
}

.r_271x152 .pic{
    left: 22px;
    top: 22px;
}

.horizontal_scroll_0_0{
    width: 1280px;
    height: 532px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.r_1148x148,
.r_1148x148 .item{
    width: 1192px;
    height: 192px;
}

.r_1148x148 .focus,
.r_1148x148 .focus img{
    width: 1192px;
    height: 192px;
}

.r_1148x148 .pic,
.r_1148x148 .pic img{
    width: 1148px;
    height: 148px;
}

.r_1148x148 .pic{
    left: 22px;
    top: 22px;
}

.horizontal_scroll_0_1{
    width: 1280px;
    height: 553px;
    left: 0px;
    top: 530px;
    overflow: hidden;
}

.r_174x174,
.r_174x174 .item{
    width: 218px;
    height: 218px;
}

.r_174x174 .focus,
.r_174x174 .focus img{
    width: 218px;
    height: 218px;
}

.r_174x174 .pic,
.r_174x174 .pic img{
    width: 174px;
    height: 174px;
}

.r_174x174 .pic{
    left: 22px;
    top: 22px;
}

.r_174x228,
.r_174x228 .item{
    width: 218px;
    height: 272px;
}

.r_174x228 .focus,
.r_174x228 .focus img{
    width: 218px;
    height: 272px;
}

.r_174x228 .pic,
.r_174x228 .pic img{
    width: 174px;
    height: 228px;
}

.r_174x228 .pic{
    left: 22px;
    top: 22px;
}

.r_123x33,
.r_123x33 .item{
    width: 123px;
    height: 33px;
}

.r_123x33 .focus,
.r_123x33 .focus img{
    width: 123px;
    height: 33px;
}

.r_123x33 .pic,
.r_123x33 .pic img{
    width: 123px;
    height: 33px;
}

.r_123x33 .pic{
    left: 0px;
    top: 0px;
}

.horizontal_scroll_0_2{
    width: 1280px;
    height: 580px;
    left: 0px;
    top: 1085px;
    overflow: hidden;
}

.horizontal_scroll_0{
    width: 1280px;
    height: 580px;
    overflow: hidden;
}