.bg{
    border: 1px solid #de2910;
    width: 118px;
    height: 58px;
    border-radius: 7px;
    z-index: 1;
}

.medium{
    width: 158px;
    height: 78px;
}

.small{
    width: 118px;
    height: 58px;
}

.mini{
    width: 78px;
    height: 38px;
}
