.text {
    text-align: center;
    width: 118px;
    height: 58px;
    line-height: 100%;
    color: #dcdfe6;
    left: 3px;
    top: 3px;
    z-index: 3;
    white-space: nowrap;
}

.item_focus .bg{
    display: none;
}

.item_focus .text{
    color: white;
}


