.text {
    text-align: center;
    width: 120px;
    height: 60px;
    line-height: 100%;
    color: #dcdfe6;
    z-index: 3;
    white-space: nowrap;
}

.item_focus .bg{
    display: none;
}

.item_focus .text{
    color: white;
}

.medium{
    width: 160px;
    height: 80px;
}

.small{
    width: 120px;
    height: 60px;
}

.mini{
    width: 80px;
    height: 40px;
}


