.dialog {
    width: 1280px;
    height: 720px;
}

.shadow {
    width: 1280px;
    height: 720px;
    background: #333333;
    opacity: 0.5;
}

.dialog .bg{
    width: 400px;
    height: 200px;
    left: 400px;
    top: 260px;
    background: white;
    border-radius: 15px;
}
