.title{
    top: 80px;
    white-space: nowrap;
    color: white;
    font-size: 28px;
}

.base_view{
    width: 300px;
    height: 530px;
    top: 130px;
    background: #404040;
    border-radius: 15px;
}

.button{
    left: 32px;
}

.button .focus{
    border: 3px solid red;
    width: 120px;
    height: 60px;
    border-radius: 7px;
}
