.text{
    width: 200px;
    height: 30px;
    left: 30px;
    top: 30px;
    line-height: 30px;
    font-size: 22px;
    white-space: nowrap;
    background: darkorange;
    color: white;
}

.recycle_view{
    left: 50px;
    top: 250px;
    background: gray;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.recycle_view .item,
.recycle_view .focus{
    width: 60px;
    height: 44px;
}

.recycle_view .pic,
.recycle_view .pic img{
    width: 40px;
    height: 24px;
}

.recycle_view .pic{
    left: 10px;
    top: 10px;
}

.recycle_view .item{
    background: blue;
}

.recycle_view .item_focus{
    background: #f87f41;
}

.button{
    width: 1280px;
    height: 50px;
}

.button .item,
.button .item_focus{
    width: 100px;
    height: 30px;
}

.button .item{
    background: gray;
    color: white;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
}

.button .item_focus{
    background: blue;
}

.poster_0{
    top: 30px;
    left: 450px;
}
