<template>
    <div class="horizontal_scroll_3_0" view-type="view-group">
        <div class="r_186x80" style="left: 326px;top:398px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_0_0_pic"></div>
            </div>
        </div>

        <div class="r_186x80" style="left: 519px;top:398px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_0_1_pic"></div>
            </div>
        </div>

        <div class="r_186x80" style="left: 712px;top:398px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_0_2_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 66px;top:530px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_0_3_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 300px;top:530px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_0_4_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 534px;top:530px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_0_5_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 768px;top:530px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_0_6_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 1002px;top:530px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_0_7_pic"></div>
            </div>
        </div>
    </div>
    <div class="horizontal_scroll_3_1" view-type="view-group">
        <div class="r_1148x148" style="left: 44px;top:21px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_1_0_pic"></div>
            </div>
        </div>

        <div class="r_565x316" style="left: 44px;top:21px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_1_1_pic"></div>
            </div>
        </div>

        <div class="r_271x316" style="left: 629px;top:21px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_1_2_pic"></div>
            </div>
        </div>

        <div class="r_271x316" style="left: 920px;top:21px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_1_3_pic"></div>
            </div>
        </div>
    </div>
    <div class="horizontal_scroll_3_2" view-type="view-group">
        <div class="r_1148x148" style="left: 44px;top:21px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_2_0_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 44px;top:232px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_2_1_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 239px;top:232px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_2_2_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 433px;top:232px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_2_3_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 628px;top:232px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_2_4_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 822px;top:232px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_2_5_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 1017px;top:232px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_2_6_pic"></div>
            </div>
        </div>

        <div class="r_123x33" style="left: 505px;top:520px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_2_7_pic"></div>
            </div>
        </div>

        <div class="r_123x33" style="left: 650px;top:520px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_3_2_8_pic"></div>
            </div>
        </div>
    </div>
</template>