<template>
    <div class="horizontal_scroll_4_0" view-type="view-group">
        <div class="r_565x316" style="left: 44px;top:0px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_0_0_pic"></div>
            </div>
        </div>

        <div class="r_271x316" style="left: 629px;top:0px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_0_1_pic"></div>
            </div>
        </div>

        <div class="r_271x316" style="left: 920px;top:0px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_0_2_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 66px;top:352px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_0_3_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 300px;top:352px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_0_4_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 534px;top:352px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_0_5_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 768px;top:352px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_0_6_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 1002px;top:352px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_0_7_pic"></div>
            </div>
        </div>
    </div>
    <div class="horizontal_scroll_4_1" view-type="view-group">
        <div class="r_1148x148" style="left: 44px;top:25px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_1_0_pic"></div>
            </div>
        </div>

        <div class="r_370x208" style="left: 44px;top:235px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_1_1_pic"></div>
            </div>
        </div>

        <div class="r_370x208" style="left: 433px;top:235px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_1_2_pic"></div>
            </div>
        </div>

        <div class="r_370x208" style="left: 822px;top:235px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_1_3_pic"></div>
            </div>
        </div>
    </div>
    <div class="horizontal_scroll_4_2" view-type="view-group">
        <div class="r_174x228" style="left: 44px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_0_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 240px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_1_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 433px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_2_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 628px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_3_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 822px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_4_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 1017px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_5_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 44px;top:312px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_6_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 239px;top:312px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_7_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 433px;top:312px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_8_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 628px;top:312px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_9_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 822px;top:312px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_10_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 1017px;top:312px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_11_pic"></div>
            </div>
        </div>

        <div class="r_123x33" style="left: 505px;top:626px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_12_pic"></div>
            </div>
        </div>

        <div class="r_123x33" style="left: 650px;top:626px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_4_2_13_pic"></div>
            </div>
        </div>
    </div>
</template>