<template>
    <div class="horizontal_scroll_0_0" view-type="view-group">
        <div class="r_565x316" style="left: 44px;top:0px;">
            <view-item class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
                <div>
                    <div class="txt" style="top: 266px;" view-type="view-text" view-id="text_0">这是一个跑马灯-加长加长加长加加长加长加加长加长加加长加长加加长加加长加长加加长加长加加长加长加长加长加长加长加长加长加长</div>
                    <div class="txt" view-type="view-text" view-id="text_1">这是另一个个跑马灯-加长加长加长加长加长加长加长加长</div>
                </div>
            </view-item>
        </div>

        <div class="r_271x316" style="left: 629px;top:0px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_271x316" style="left: 920px;top:0px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_271x152" style="left: 44px;top:336px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_271x152" style="left: 337px;top:336px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_271x152" style="left: 628px;top:336px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_271x152" style="left: 919px;top:336px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>
    </div>
    <div class="horizontal_scroll_0_1" view-type="view-group">
        <div class="r_1148x148" style="left: 44px;top:25px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_271x316" style="left: 44px;top:193px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_565x316" style="left: 336px;top:193px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_271x152" style="left: 919px;top:193px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_271x152" style="left: 919px;top:358px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>
    </div>
    <div class="horizontal_scroll_0_2" view-type="view-group">
        <div class="r_174x174" style="left: 44px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_174x174" style="left: 240px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_174x174" style="left: 434px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_2_pic"></div>
            </div>
        </div>

        <div class="r_174x174" style="left: 628px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_174x174" style="left: 821px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img></div>
            </div>
        </div>

        <div class="r_174x174" style="left: 1017px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_5_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 44px;top:257px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_6_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 239px;top:257px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_7_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 433px;top:257px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_8_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 628px;top:257px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_9_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 822px;top:257px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_10_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 1017px;top:257px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_11_pic"></div>
            </div>
        </div>

        <div class="r_123x33" style="left: 505px;top:570px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_12_pic"></div>
            </div>
        </div>

        <div class="r_123x33" style="left: 650px;top:570px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_0_2_13_pic"></div>
            </div>
        </div>
    </div>
</template>