<template>
    <div class="horizontal_scroll_1_0" view-type="view-group">
        <div class="r_272x80" style="left: 941px;top:22px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_0_0_pic"></div>
            </div>
        </div>

        <div class="r_272x80" style="left: 941px;top:102px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_0_1_pic"></div>
            </div>
        </div>

        <div class="r_272x80" style="left: 941px;top:182px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_0_2_pic"></div>
            </div>
        </div>

        <div class="r_272x80" style="left: 941px;top:262px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_0_3_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 66px;top:360px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_0_4_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 300px;top:360px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_0_5_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 534px;top:360px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_0_6_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 768px;top:360px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_0_7_pic"></div>
            </div>
        </div>

        <div class="r_210x64" style="left: 1002px;top:360px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_0_8_pic"></div>
            </div>
        </div>
    </div>
    <div class="horizontal_scroll_1_1" view-type="view-group">
        <div class="r_272x152" style="left: 44px;top:21px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_1_0_pic"></div>
            </div>
        </div>

        <div class="r_272x152" style="left: 336px;top:21px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_1_1_pic"></div>
            </div>
        </div>

        <div class="r_272x152" style="left: 627px;top:21px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_1_2_pic"></div>
            </div>
        </div>

        <div class="r_272x152" style="left: 918px;top:21px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_1_3_pic"></div>
            </div>
        </div>

        <div class="r_565x316" style="left: 44px;top:194px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_1_4_pic"></div>
            </div>
        </div>

        <div class="r_565x316" style="left: 624px;top:194px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_1_5_pic"></div>
            </div>
        </div>
    </div>
    <div class="horizontal_scroll_1_2" view-type="view-group">
        <div class="r_174x228" style="left: 44px;top:69px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_0_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 239px;top:69px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_1_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 433px;top:69px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_2_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 628px;top:69px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_3_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 822px;top:69px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_4_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 1017px;top:69px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_5_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 44px;top:361px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_6_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 239px;top:361px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_7_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 433px;top:361px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_8_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 628px;top:361px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_9_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 822px;top:361px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_10_pic"></div>
            </div>
        </div>

        <div class="r_174x228" style="left: 1017px;top:361px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_11_pic"></div>
            </div>
        </div>

        <div class="r_123x33" style="left: 505px;top:691px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_12_pic"></div>
            </div>
        </div>

        <div class="r_123x33" style="left: 650px;top:691px;">
            <div class="item" view-type="view-item">
                <div class="focus"><img></div>
                <div class="pic"><img view-id="horizontal_scroll_1_2_13_pic"></div>
            </div>
        </div>
    </div>
</template>