<template>
    <group style="width: 1280px;height: 560px;">
        <button style="left: 40px;top: 20px;font-size: 18px;" size="640,360" value="640,360推荐位" id="first_button"></button>
        <button style="left: 690px;top: 20px;font-size: 18px;" size="270,175" value="270,175推荐位"></button>
        <button style="left: 970px;top: 20px;font-size: 18px;" size="270,175" value="270,175推荐位"></button>
        <button style="left: 690px;top: 205px;font-size: 18px;" size="270,175" value="270,175推荐位"></button>
        <button style="left: 970px;top: 205px;font-size: 18px;" size="270,175" value="270,175推荐位"></button>

        <button style="left: 40px;top: 390px;font-size: 18px;" size="292,165" value="292,165推荐位"></button>
        <button style="left: 342px;top: 390px;font-size: 18px;" size="292,165" value="292,165推荐位"></button>
        <button style="left: 645px;top: 390px;font-size: 18px;" size="292,165" value="292,165推荐位"></button>
        <button style="left: 948px;top: 390px;font-size: 18px;" size="292,165" value="292,165推荐位"></button>
    </group>

    <group style="width: 1280px;height: 80px;top:570px;">
        <button style="left: 40px;font-size: 18px;" size="192,75" value="192,75推荐位"></button>
        <button style="left: 242px;font-size: 18px;" size="192,75" value="192,75推荐位"></button>
        <button style="left: 444px;font-size: 18px;" size="192,75" value="192,75推荐位"></button>
        <button style="left: 646px;font-size: 18px;" size="192,75" value="192,75推荐位"></button>
        <button style="left: 847px;font-size: 18px;" size="192,75" value="192,75推荐位"></button>
        <button style="left: 1048px;font-size: 18px;" size="192,75" value="192,75推荐位"></button>
    </group>

    <group style="width: 1280px;height: 560px;top:660px;">
        <button style="left: 40px;font-size: 18px;" size="640,360" value="640,360推荐位"></button>
        <button style="left: 690px;font-size: 18px;" size="270,175" value="270,175推荐位"></button>
        <button style="left: 970px;font-size: 18px;" size="270,175" value="270,175推荐位"></button>
        <button style="left: 690px;top: 185px;font-size: 18px;" size="270,175" value="270,175推荐位"></button>
        <button style="left: 970px;top: 185px;font-size: 18px;" size="270,175" value="270,175推荐位"></button>

        <button style="left: 40px;top: 370px;font-size: 18px;" size="292,165" value="292,165推荐位"></button>
        <button style="left: 342px;top: 370px;font-size: 18px;" size="292,165" value="292,165推荐位"></button>
        <button style="left: 645px;top: 370px;font-size: 18px;" size="292,165" value="292,165推荐位"></button>
        <button style="left: 948px;top: 370px;font-size: 18px;" size="292,165" value="292,165推荐位"></button>
    </group>

    <group style="width: 1280px;height: 295px;top:1230px;" id="poster_list">
        <poster-white style="left: 40px;font-size: 18px;" poster-size="192,248"></poster-white>
        <poster-white style="left: 242px;font-size: 18px;" poster-size="192,248"></poster-white>
        <poster-white style="left: 444px;font-size: 18px;" poster-size="192,248"></poster-white>
        <poster-white style="left: 646px;font-size: 18px;" poster-size="192,248"></poster-white>
        <poster-white style="left: 847px;font-size: 18px;" poster-size="192,248"></poster-white>
        <poster-white style="left: 1048px;font-size: 18px;" poster-size="192,248"></poster-white>
    </group>

    <group style="width: 1280px;height: 80px;top:1555px;" id="poster_list">
        <button style="left: 444px;font-size: 18px;" size="192,48" value="返回顶部" id="back_top"></button>
        <button style="left: 646px;font-size: 18px;" size="192,48" value="搜索"></button>
    </group>
</template>